<div class="container d-flex justify-content-center align-items-center flex-column vh-100">
    <div class="card shadow w-100" style="max-width: 600px;">
        <!-- FORM VIEW -->
        <div *ngIf="page === 1">
            <div class="text-center mb-4 p-3" style="background-color: #1f4380;">
                <img class="mb-4" src="logo.png" alt="" style="width: 80%;">
            </div>
            <h4 class="text-center mb-3">FACE AUTHENTICATION</h4>
            <form [formGroup]="idForm" class="p-3">
                <div class="row mb-4">
                    <div class="col-12 col-md-6 mb-4 mb-md-0">
                        <input type="text" class="form-control" formControlName="suffix" placeholder="Suffix" />
                        <!-- <p class="text-danger"
                            *ngIf="suffixValidation?.errors?.['required'] && suffixValidation?.invalid && (suffixValidation?.touched || suffixValidation?.dirty)">
                            {{ 'Siffix is required' }}</p> -->
                    </div>
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control" formControlName="firstName"
                            placeholder="First Name *" />
                        <p class="text-danger"
                            *ngIf="firstNameValidation?.errors?.['required'] && firstNameValidation?.invalid && (firstNameValidation?.touched || firstNameValidation?.dirty)">
                            {{ 'First name is required' }}</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-md-6 mb-4 mb-md-0"> <input type="text" class="form-control"
                            formControlName="middleName" placeholder="Middle Name *" />
                        <p class="text-danger"
                            *ngIf="middletNameValidation?.errors?.['required'] && middletNameValidation?.invalid && (middletNameValidation?.touched || middletNameValidation?.dirty)">
                            {{ 'Middle name is required' }}</p>
                    </div>
                    <div class="col-12 col-md-6"> <input type="text" class="form-control" formControlName="lastName"
                            placeholder="Last Name *" />
                        <p class="text-danger"
                            *ngIf="lastNameValidation?.errors?.['required'] && lastNameValidation?.invalid && (lastNameValidation?.touched || lastNameValidation?.dirty)">
                            {{ 'Last name is required' }}</p>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-12 col-md-6 mb-4 mb-md-0">
                        <input type="date" class="form-control" formControlName="dob" [max]="today"
                            placeholder="Date of Birth (YYYY-MM-DD)" />
                        <p class="text-danger"
                            *ngIf="dobValidation?.errors?.['required'] && dobValidation?.invalid && (dobValidation?.touched || dobValidation?.dirty)">
                            {{ 'Date of birth is required' }}</p>
                    </div>
                    <div class="col-12 col-md-6"> <input type="number" maxlength="16" class="form-control"
                            formControlName="pcn" placeholder="PCN Number *" (input)="enforceMaxLength($event)" />
                        <p class="text-danger"
                            *ngIf="pcnValidation?.errors?.['required'] && pcnValidation?.invalid && (pcnValidation?.touched || pcnValidation?.dirty)">
                            {{ 'PCN is required' }}</p>
                        <p class="text-danger" *ngIf="pcnValidation?.errors?.['pattern'] && pcnValidation?.touched">
                            PCN must be exactly 16 digits
                        </p>
                    </div>
                </div>
                <button class="btn btn-primary w-100 w-md-25 mb-2 mb-md-0" type="submit" (click)="nextPage()"
                    [disabled]="idForm.invalid">Continue</button>
            </form>
        </div>

        <!-- NEXT PAGE VIEW -->
        <div *ngIf="page === 2" class="text-center p-3">
            <h4>Take Live Selfie</h4>
            <p class="text-muted">Make sure you are the person verifying.</p>
            <div class="my-3">
                <img src="capture.jpg" alt="Selfie Icon" style="width: 300px; height: 210px;">
            </div>
            <p class="text-muted small">
                By proceeding, you allow the collection, use, and disclosure of your personal data.
            </p>
            <button class="btn btn-primary w-md-25 mx-2" (click)="capture()" [disabled]="loading">
                <span *ngIf="!loading">Capture</span>
                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span *ngIf="loading"> Capturing...</span>
            </button>
            <button class="btn btn-secondary w-md-25" type="submit" (click)="goBack()">Back</button>
        </div>

        <div *ngIf="page === 3" class="text-center">
            <div class="container py-3">
                <div class="liveness-container">
                    <h3>Face Liveness Check</h3>
                    <div [ngClass]="{
                            'video-container': true,
                            'blinking': isBlinking,
                            'captured': capturedImage && !isBlinking
                          }">
                        <video #video width="320" height="320" autoplay playsinline></video>
                        <canvas #canvas width="320" height="320" class="overlay-canvas d-none"></canvas>
                        <img *ngIf="capturedImage" [src]="capturedImage" alt="Captured Face" class="captured-image" />
                    </div>
                    <div class="instruction-box">
                        <h4>{{ currentInstruction }}</h4>
                        <p *ngIf="direction !== ''">Detected: {{ direction }}</p>
                    </div>
                    <div class="progress-indicators">
                        <div *ngFor="let step of steps" [class.completed]="step.completed">
                            {{ step.label }} <span>{{ step.completed ? '✓' : '⏳' }}</span>
                        </div>
                    </div>
                    <div *ngIf="capturedImage" class="button-group">
                        <button class="btn btn-warning" (click)="retakeImage()">Retake</button>
                        <button class="btn btn-success" (click)="onVerificationSuccess()">Submit</button>
                    </div>
                    <div *ngIf="!capturedImage" class="button-group">
                        <button class="btn btn-secondary" (click)="retry()">Retry</button>
                        <button class="btn btn-secondary" type="submit" (click)="goBack()">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="row">
                    <h5 class="text-center mb-4">ID-Authentication</h5>
                    <div class="col-md-4 text-center">
                        <h6 style="font-weight: 650;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 18px;
    color: #080808">Face</h6>
                        <img [src]="userPhoto ? userPhoto : 'blank-profile.webp'" class="img-fluid rounded"
                            alt="User Photo" style="width: 90%; height: 40%;">
                    </div>
                    <div class="col-md-8">
                        <div class="table-responsive">
                            <table class="table table-borderless table-md">
                                <tbody>
                                    <tr>
                                        <th>PhilSys Card Number (PCN)</th>
                                        <td>{{ idForm.get('pcn')?.value || '-' }}</td>
                                    </tr>
                                    <tr>
                                        <th>First Name</th>
                                        <td>{{userData.firstName_eng || "-"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Middle Name</th>
                                        <td>{{userData.middleName_eng || "-"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Last Name</th>
                                        <td>{{userData.lastName_eng || "-"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Suffix</th>
                                        <td>{{userData.suffix_eng || "-"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Sex</th>
                                        <td>{{userData.gender_eng || "-"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Birth Date</th>
                                        <td>{{userData.dob || "-"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Place of Birth</th>
                                        <td>{{userData.permanentAddressLine1_eng || "-"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td>{{userData.presentAddress_eng || "-"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Marital Status</th>
                                        <td>{{userData.maritalStatus_eng || "-"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email Address</th>
                                        <td>{{userData.emailId || "-"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Blood Type</th>
                                        <td>{{userData.bloodType_eng || "-"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Residence Status</th>
                                        <td>{{userData.residenceStatus_eng || '-'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-primary w-25" data-bs-dismiss="modal" (click)="closeModal()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>