<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-3" style="width: 400px;">
        <!-- FORM VIEW -->
        <div *ngIf="page === 1">
            <div class="text-center mb-4">
                <img src="ids.jpg" alt="" style="width: 100%;">
            </div>
            <h5 class="text-center mb-3">Get your Digital Philsys ID</h5>
            <p class="text-muted text-center small">Please enter your details for Verification</p>

            <form [formGroup]="idForm">
                <div class="row mb-4">
                    <div class="col-6">
                        <input type="text" class="form-control" formControlName="suffix" placeholder="Suffix" />
                        <p class="text-danger"
                            *ngIf="suffixValidation?.errors?.['required'] && suffixValidation?.invalid && (suffixValidation?.touched || suffixValidation?.dirty)">
                            {{ 'Siffix is required' }}</p>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" />
                        <p class="text-danger"
                            *ngIf="firstNameValidation?.errors?.['required'] && firstNameValidation?.invalid && (firstNameValidation?.touched || firstNameValidation?.dirty)">
                            {{ 'First name is required' }}</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-6"> <input type="text" class="form-control" formControlName="middleName"
                            placeholder="Middle Name" />
                        <p class="text-danger"
                            *ngIf="middletNameValidation?.errors?.['required'] && middletNameValidation?.invalid && (middletNameValidation?.touched || middletNameValidation?.dirty)">
                            {{ 'Middle name is required' }}</p>
                    </div>
                    <div class="col-6"> <input type="text" class="form-control" formControlName="lastName"
                            placeholder="Last Name" />
                        <p class="text-danger"
                            *ngIf="lastNameValidation?.errors?.['required'] && lastNameValidation?.invalid && (lastNameValidation?.touched || lastNameValidation?.dirty)">
                            {{ 'Last name is required' }}</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-6"> <input type="date" class="form-control" formControlName="dob"
                            placeholder="Date of Birth (YYYY-MM-DD)" />
                        <p class="text-danger"
                            *ngIf="dobValidation?.errors?.['required'] && dobValidation?.invalid && (dobValidation?.touched || dobValidation?.dirty)">
                            {{ 'Date of birth is required' }}</p>
                    </div>
                    <div class="col-6"> <input type="number" class="form-control" formControlName="pcn"
                            placeholder="PCN Number" />
                        <p class="text-danger"
                            *ngIf="pcnValidation?.errors?.['required'] && pcnValidation?.invalid && (pcnValidation?.touched || pcnValidation?.dirty)">
                            {{ 'PCN is required' }}</p>
                    </div>
                </div>
                <button class="btn btn-primary w-100" type="submit" (click)="nextPage()" [disabled]="idForm.invalid">Continue</button>
            </form>
        </div>

        <!-- NEXT PAGE VIEW -->
        <div *ngIf="page === 2" class="text-center">
            <h4>Take Live Selfie</h4>
            <p class="text-muted">Make sure you are the person verifying.</p>
            <div class="my-4">
                <img src="capture.jpg" alt="Selfie Icon" style="width: 250px; height: 200px;">
            </div>
            <p class="text-muted small">
                By proceeding, you allow the collection, use, and disclosure of your personal data.
            </p>
            <button class="btn btn-primary w-50 mx-2" (click)="capture()" [disabled]="loading">
                <span *ngIf="!loading">Capture</span>
                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span *ngIf="loading"> Capturing...</span>
            </button>
            <button class="btn btn-secondary w-25" type="submit" (click)="goBack()">Back</button>

        </div>

        <div *ngIf="page === 3" class="text-center">
            <div class="container py-3">
                <div class="liveness-container">
                    <h3>Face Liveness Check</h3>
                    <div [ngClass]="{
                            'video-container': true,
                            'blinking': isBlinking,
                            'captured': capturedImage && !isBlinking
                          }">
                        <video #video width="320" height="320" autoplay playsinline></video>
                        <canvas #canvas width="320" height="320" class="overlay-canvas d-none"></canvas>
                        <img *ngIf="capturedImage" [src]="capturedImage" alt="Captured" class="captured-image" />
                    </div>
                    <div class="instruction-box">
                        <h4>{{ currentInstruction }}</h4>
                        <p *ngIf="direction !== ''">Detected: {{ direction }}</p>
                    </div>
                    <div class="progress-indicators">
                        <div *ngFor="let step of steps" [class.completed]="step.completed">
                            {{ step.label }} <span>{{ step.completed ? '✓' : '⏳' }}</span>
                        </div>
                    </div>
                    <div *ngIf="capturedImage" class="button-group mt-3">
                        <button class="btn btn-warning" (click)="retakeImage()">Retake</button>
                        <button class="btn btn-success" (click)="onVerificationSuccess()">Submit</button>
                    </div>
                    <button class="btn btn-secondary mt-3" *ngIf="!capturedImage" (click)="retry()">Retry</button>

                </div>
            </div>
        </div>
    </div>
</div>